<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тортиков</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous"
    />
    <style>

html, body {
    height: 100%;
    background : linear-gradient(45deg, rgb(69, 127, 215), pink);
}
.falling {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-image: url("/upload/sparticles/photo-bg.jpg"); */
    background-size: contain;
    background-position: center center;
    margin: 10px 0 20px 0;
}
.falling canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: normal;
}
.falling h2 {
    padding: 40px;
    background: rgb(212, 6, 6);
    position: relative;
}
    </style>
    <script src="https://atuin.ru/demo/js/sparticles.min.js"></script>
    <link rel="stylesheet" href="/css/cakes.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark nav-theme">
            <a class="navbar-brand" href="logoTort.jpg"><img src="logoTort.jpg" alt="" width="50px"/></a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Переключатель навигации"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(текущая)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reg">Вход/Авторизация</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/reg">Торты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Поиск"
                        aria-label="Поиск"
                    />
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </nav>
    </header>
    <h1>Список тортов, капкейков и пироженки будут доступны позже</h1>
    <div class="falling" ></div>
    <script src="/scripts/cakes.js"></script>
    <script>
        let colors = {
    color1: "rgba(255,255,255, 0.3)",
    color2: "rgba(222,184,142,0.3)",
    color3: "rgba(232,248,255,0.3)",
    color4: "rgba(135,143,145,0.3)"
    };
    let options = {
        alphaSpeed: 10,
        alphaVariance: 1,
        color: [colors.color1, colors.color2, colors.color3, colors.color4],
        composition: "source-over",
        count: 250,
        direction: 161,
        float: 1.75,
        glow: 0,
        imageUrl: [
            "https://cdn-icons-png.flaticon.com/128/676/676736.png",
            "https://cdn-icons-png.flaticon.com/128/4062/4062110.png",
            "https://cdn-icons-png.flaticon.com/128/2255/2255705.png",
        ],
        maxAlpha: 2,
        maxSize: 100,
        minAlpha: -0.2,
        minSize: 4,
        parallax: 1.75,
        rotation: 0.5,
        shape: "image",
        speed: 3,
        style: "fill",
        twinkle: false,
        xVariance: 10,
        yVariance: 0,
    };
    window.onload = function() {
        initSparticles();
    }
    window.initSparticles = function() {
        var $main = document.querySelector('.falling');
        window.mySparticles = new sparticles.Sparticles($main, options);
    };

    </script>
</body>
</html>
